body{
    font-family: serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}
.header, footer{
  padding: 20px;
  text-align: center;
  background: #E4C087;
  color: white;
  font-size: 30px;
}

.img {
  max-height: 150px;
  float: right;
}


.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;


}

li {
  float: left;
}

li a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: bisque;
}

.text {
  text-align: center;
  font-size: x-large;
  
}



.visii {
  text-align: center;
}
.hymne {
  text-align: center;
}

.mars {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.textarea {
  column-count: 3;
}
